Repository mtwente/nordatlantisk-ft, changes with the labels that .github/labeler.yml gives for each.
All labels: data, docs, github, src

docs: update CHANGELOG.md
  CHANGELOG.md
Labels: none

docs: update CHANGELOG.md
  CHANGELOG.md
Labels: none

docs: fix inline section links with anchors in github-flavored markdown
  docs/codebook.md
Labels: docs

docs: change literature referencing from .bib file to markdown footnotes
  README.md
  docs/codebook.md
  report.md
Labels: docs

docs: change literature referencing from .bib file to markdown footnotes
  docs/codebook.md
  report.md
Labels: docs

docs: change heading 1 of README.md
  README.md
Labels: docs

docs: update CHANGELOG.md
  CHANGELOG.md
Labels: none

chore: clean up R system files
  .gitignore
Labels: src

chore: update CHANGELOG.md
  CHANGELOG.md
  data/processed/.Rapp.history
Labels: none

docs: delete .Rmd version of codebook
  docs/codebook.Rmd
Labels: docs

docs: update CHANGELOG.md
  CHANGELOG.md
Labels: none

docs: minor wording changes in README.md
  README.md
Labels: docs

docs: update CHANGELOG.md
  CHANGELOG.md
Labels: none

docs: add information about Fortran compiler on newer Mac OS
  README.md
Labels: docs

docs: add Zenodo DOI
  CITATION.cff
  README.md
Labels: docs

docs: remove unnecessary information from codebook_references.bib
  assets/codebook_references.bib
Labels: docs

docs: update roadmap
  README.md
Labels: docs

docs: add literature reference on Folketinget Open Data
  report.md
Labels: none

docs: update literature references formatting
  docs/codebook.md
  report.md
Labels: docs

docs: fix document section hierarchy
  docs/codebook.md
Labels: docs

style: shorten URL to Zotero group badge
  README.md
Labels: docs

feat: update voting data
  _targets/meta/meta
  data/processed/ballot_results_ft.rds
  data/processed/northatlantic_ft.rds
  data/processed/northatlantic_votes.rds
  data/raw/ballot_info_raw.csv
  data/raw/northatlantic_votes_raw.csv
Labels: none

feat: update metadata json
  data/processed/csv/northatlantic_ft_metadata.json
Labels: none

fix: fix #9
  src/get_MP_record.R
  src/get_max_page_number.R
  src/get_max_skip_index.R
  src/round.R
Labels: src

feat: add MP names and affiliation to final data frame
  src/targets/join_results.R
Labels: none

feat: skip entries with wrong format
  src/targets/get_ballot_info.R
  src/targets/get_missing_info.R
Labels: none

feat: update party affiliation
  report.md
Labels: none

feat: use sunames for plots
  analysis/example_plots.R
Labels: data

feat: update voting records
  _targets.R
  _targets/meta/meta
  data/processed/MP_names.rds
  data/processed/northatlantic_ft.rds
Labels: src

feat: update descriptions with new data
  docs/codebook.md
  report.md
Labels: docs

.github/labeler.yml:

data:
  - analysis/*
  - build/*
  - data/*

docs:
  - _layouts/*
  - assets/*
  - docs/*
  - project-management/*
  - _config.yml
  - android-chrome-192x192.png
  - android-chrome-512x512.png
  - apple-touch-icon.png
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - favicon-16x16.png
  - favicon-32x32.png
  - favicon.ico
  - LICENSE.md
  - README.md
  - SECURITY.md
  - site.webmanifest

github:
  - .github/*
  - .husky/*

src:
  - .dockerignore
  - .gitattributes
  - .gitignore
  - example.env
  - src/*
  - test/*
  - nordatlantisk-ft.Rproj
  - renv/*
  - renv.lock
  - .Rprofile
  - run.R
  - run.sh
  - _targets/*
  - _targets_packages.R
  - _targets.R
